.stk{               /* for Navigation sticky*/
  position: relative;
}
nav{
  position: sticky;
  top: 0;
}
nav div{
  margin: 0px;
}

/*-------------------- For Footer ----------------------*/
footer{
    height: 100%;
    background: linear-gradient(to left, #8942a8,#ba382f); 
}
footer a{
        color: white;  
    }
footer a:hover{
        background-color:white; 
        color:rgb(3, 99, 94);
        text-decoration: none;
    }

@media screen and (max-width: 771px){
/*-------------------- For Navigation Bar ----------------------*/
.icon-bar2{
    display: none;
}

@media screen and (min-width: 570px){
.overlay a::before {
    width: 100%;
    top:50px;    }
.overlay a{
  font-size: 30px;
          }

}

@media screen and (max-width: 570px){
.overlay a::before {
    width: 100%;
    top:40px;
            }
.overlay a{
  font-size: 25px;
      }
}
.op{
    font-size:30px;
    }
.iconbar1 img{
  width: 45px;
  height: 40px;
  padding: 2px;
}
.overlay a:hover, a:focus, a:active {
    color: white;
    text-decoration: none;
}
.overlay a {
    position: relative;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    transition: color 0.1s, background-color 0.1s;
    padding: 8px;
    margin-bottom:10px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
.overlay a::before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background-color: white;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
.overlay a:active::before {
    background-color: white;
}
.overlay a:hover::before, a:focus::before {
    transform-origin: right top;
    transform: scale(1, 1);
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
 
}
.overlay .closebtn {
  position: absolute;
  top: -20px;
  font-size: 50px;
}
.closebtn a::before{
  background-color: none;
}

.iconbar1 {
   margin-top: 10px;
    width: 100%; /* Full-width */
    background: linear-gradient(to left, #8942a8,#ba382f); /* Dark-grey background */
    overflow: auto;
}

/*-------------------- For Footer ----------------------*/

.lin{
    color:white;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
    font-size:15px;
  }
}

@media screen and (min-width: 772px){ 
/*-------------------- For Navigation Bar ----------------------*/
.icon-bar1{
    display: none;
}
nav a:hover, a:focus, a:active {
    color: white;
    text-decoration: none;
}
nav a {
    transition: color 0.1s, background-color 0.1s;
}
nav a {
    position: relative;
    line-height: 20px;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: white;
}
nav a::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    width: 75%;
    top:35px;
    margin-left: 20%;
    background-color: white;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
nav a:active::before {
    background-color: white;
}
nav a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.icon-bar2 {
    margin-top: 10px;
    width: 100%; /* Full-width */
    background: linear-gradient(to left, #8942a8,#ba382f); /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar2 a p {
    margin-bottom: 5px;
}
.icon-bar2 a {
  float: right; /* Float links side by side */
  text-align: center; /* Center-align text */
  padding: 10px; /* Some top and bottom padding */
  padding-left: 30px;
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
   font-size:150%/* Increased font size */
}


/*-------------------- For Footer ----------------------*/
  .lin{
    color:white;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
  }
}
.col-s1
{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1000px){
.col-s1 {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;

}
.col-s1 img{
   
  width:40px;
    padding: 3px;
  }
}

@media (max-width: 1000px){
.col-s1 img{
  width:40px;
    padding: 3px;
    padding-bottom: 10px;
}}