section{
	margin-bottom: 10px;
}
.box{
    width: 100%;
    box-shadow: 0px 0px 10px 2px grey;
    background-size:cover ;
    text-align: center;
    font-family: sans-serif;
    color: white;
}
.text-block {
	width: 80%;
	height: 100%;
	float: right;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}



@media screen and (min-width: 992px) /*only apply on about navigation*/
{
.box{
    height: 660px;
}
.text-block h5{
	margin-top: -1.5%;
	margin-bottom: 20px;
}

.text-block h1{
	font-family: 'Bitter', serif;
	margin-top: 15px;"
}

.text-block p{
	font-family: 'Dancing Script', cursive;
	font-size:160%;
	margin-bottom: 0px;
}
.text-block img{
	 width: 130px;
	 height: 130px;
}

.art h5{
	font-size:100%;
}
.art h4{
	font-size:100%;
}
.art h3{
	font-size:150%;
}
}

@media screen and (max-width: 991px) /*only apply on about tab navigation*/
{
.box{
    height: 600px;
}
.text-block h5{
	margin-top: -1.5%;
	margin-bottom: 20px;
}
.text-block h1{
	font-family: 'Bitter', serif;
	margin-top: 15px;"
}

.text-block p{
	font-family: 'Dancing Script', cursive;
	font-size:140%;
	margin-bottom: 0px;
}
.text-block img{
	 width: 110px;
	 height: 110px;
}

.art h5{
	font-size:90%;
}
.art h4{
	font-size:90%;
}
.art h3{
	font-size:130%;
}

}

@media screen and (max-width: 771px) /*only apply on about tab navigation*/
{
.box{
    height: 550px;
}
.text-block h5{
	margin-top: -1.5%;
	margin-bottom: 20px;
}
.text-block h1{
	font-family: 'Bitter', serif;
	margin-top: 15px;
	font-size: 140%;
}

.text-block p{
	font-family: 'Dancing Script', cursive;
	font-size:110%;
	margin-bottom: 0px;
}
.text-block img{
	 width: 80px;
	 height: 80px;
}

.art h5{
	font-size:70%;
}
.art h4{
	font-size:70%;
}
.art h3{
	font-size:100%;
}

}


@media screen and (max-width: 425px) /*only apply on about tab navigation*/
{
.box{
    height: 160vw;
}
.text-block h5{
	font-size: 3vw;
	margin-top: -1.6%;
	margin-bottom: 10px;
}
.text-block h1{
	font-family: 'Bitter', serif;
	margin-top: 10px;
	font-size: 5vw;
}

.text-block p{
	font-family: 'Dancing Script', cursive;
	font-size:4.7vw;
	margin-bottom: 0px;
}
.text-block img{
	 width: 70px;
	 height: 70px;
}

.art h5{
	font-size:60%;
	ma
}
.art h4{
	font-size:60%;
}
.art h3{
	font-size:90%;
}
}

.art{
	padding: 20px;
    box-shadow: 0px 0px 10px 2px #ba382f ;
}
.title{
    background: linear-gradient(to left, #8942a8,#ba382f); 
    color: white;
}
/*----------------*/
/*for Skill portion*/
.progres{
  background-color: #dc3545;
  display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    /* background-color: #e9ecef; */
    border-radius: .25rem;
}
.progressbar{
  background-color: rebeccapurple;
  display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    /* background-color: #007bff; */
    transition: width .6s ease;
}
.col-s{
	padding: 15px;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 700px){
.col-s {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;

}
}
/*-------------------------------------*/